.content{
	hr + .page-label{
		margin-top: 0;
	}
}
.page{
	hr{
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
}
.page-header{
	position: relative;
	height: 4rem;
	border-bottom: 1px solid $border-grey;
}
.page-content{
	overflow: overlay;
}
.ticket-count-dropdown{
	top: 0.625rem !important;
}
.social-wrapper{
	margin-top: 1rem;
}
.event-map-directions{
    overflow: overlay;
	width: 100%;
    padding: 1rem;
    border: 1px solid #EEE;
    border-top: 0;
}
.event-direction-wrapper{
	text-align: center;
	svg{
		display: block !important;
		margin: 0 auto 1rem;
		fill: $text-dark-grey !important;
	}
}
.attendees-dialog-wrapper{
	overflow: scroll;
	max-height: 20.31rem;
}
.suggested-events-wrapper{
	max-height: 26.25rem;
}
.event-register-btn-wrapper{
	float: right;
	@media #{$small-screen}{
		overflow: overlay;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background: #FFF;
		border-top: 1px solid #CCC;
		padding: 1rem;
		z-index: 1;
		button{
			width: 100%;
			margin: 0;
		}
	}
}
.authenticate-wrapper{
	overflow: overlay;
	z-index: 999 !important;
	//mui override
	div{
		div{
			div{
				div{
					max-height: none !important;	
				}	
			}	
		}
	}
}
.authenticate-lower-addon{
	margin: 4rem -1.5rem -1.5rem;
	padding-bottom: 1.5rem;
	background: $border-grey;
	padding-top: .75rem;
	box-shadow: inset 0 9px 11px -5px #CCC;
}
.input-group{
	position: relative;
	.input-group-icon{
		position: absolute;
		top: 2.25rem;
		fill: $text-dark-grey !important;
	}
	.input-group-textfield{
		margin-left: 2rem;
		width: 90% !important;
		input{
			color: $text-dark-grey !important;
		}
	}
}
.filepicker{
	position: absolute;
	left: 50%;
	margin-left: -3rem;
	top: 0%;
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	border: 0;
	background: transparent;
	color: transparent;
}