.hero-wrapper,
.hero-details-outer-wrapper{
	height: 49vw;
	max-height: 30rem;
	width: 100%;
}
.hero-wrapper{
	position: relative;
	overflow: hidden;
}
.hero-image-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	img{
		position: relative;
		top: 50%;
		left: 50%;
		width: 100%;
		@include transform(translate(-50%, -50%));
	}
	.overlay{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}
}
.hero-details-outer-wrapper{
	display: table;
}
.hero-details-inner-wrapper{
	position: relative;
	padding-top: 0;
	padding-bottom: 0;
	display: table-cell;
	vertical-align: middle;
}
.hero-details-align{
	@include span(8 of 12);
	@include push(2);
	@media #{$small-screen}{
		@include span(10 of 12);
		@include push(1); 
	}
}
.hero-details-primary,
.hero-details-title,
.hero-details-secondary{
	color: #FFF;
}
.hero-details-primary,
.hero-details-secondary{
	font-size: 1rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
}
.hero-details-title{
	font-size: 2.5rem;
	font-weight: 500;
	line-height: 2.75rem;
	@media #{$small-screen}{
		font-size: 1.65rem;
		font-weight: 500;
		line-height: 2rem;
	}
}