.text-center{
	text-align: center;
}
.rounded-button{
	@include border-radius(24px !important);
	*{
		@include border-radius(24px !important);
	}
}
.pull-left{
	float: left !important;
}
.pull-right{
	float: right !important;
}
.height-inherit{
	height: inherit !important;
}
.width-inherit{
	width: inherit !important;
}
.keep-center{
	max-width: 62rem;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	@media #{$medium-screen}{
		max-width: 50rem;
	}
	@media #{$small-screen}{
		max-width: 100%;
	}
}
.hover-transparent{
	&:hover{
		background-color: transparent !important;
	}
}
.hidden-mobile{
	@media #{$small-screen}{
		display: none !important;
	}
}
.inline-block{
	display: inline-block !important;
}
.reset-height{
	height: initial !important;
}