$brand-color: #143A7B;
$brand-secondary-color: #FCB606;
$primary-font: 'Roboto';
$secondary-font: 'Roboto Condensed';
$text-light-grey: #777;
$text-dark-grey: #555;
$border-grey: #EEE;

$wide-screen: "all and (min-width: 1200px)";
$medium-screen: "all and (min-width: 769px) and (max-width: 1199px)";
$small-screen: "all and (max-width: 768px)";